[Unit]
Description=HTTPd PRO Unit
AssertPathExists=/home/vagrant/host/hw_part_3/httpd-pro.conf.d/
Requires=httpd.service

[Service]
Type=simple
#ExecStart=/usr/sbin/httpd /home/vagrant/host/hw_part_3/httpd-pro.conf.d/%i.conf
ExecStart=/usr/sbin/httpd -f /home/vagrant/host/hw_part_3/httpd-pro.conf.d/%i.conf

[Install]
WantedBy=multi-user.target
DefaultInstance=httpd-pro-2