[Unit]
Description=Barman cron
Wants=barman-cron.timer

[Service]
User=barman
#User=root
Type=oneshot
#Type=simple
ExecStart=/usr/bin/barman cron

[Install]
WantedBy=multi-user.target