[Unit]
Description=Barman cron scheduled
Requires=barman-cron.service

[Timer]
Unit=barman-cron.service
OnUnitActiveSec=10

[Install]
WantedBy=timers.target